{{> partials/menu}}
<main role="main" class="ml-sm-auto col-lg-10 px-4">
    <form class="form-horizontal" id="productNewForm" data-toggle="validator">
        <div class="col-12">
            <div class="page-header">
                <div class="float-right">
                    <button id="frm_edit_product_save" class="btn btn-outline-success" type="submit">Add product</button>
                </div>
                <h2>{{ @root.__ "New Course" }}</h2>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="productTitle" class="control-label">{{ @root.__ "Course title" }} *</label>
                <input type="text" id="productTitle" class="form-control" minlength="5" maxlength="200" value="{{productTitle}}" required/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="productPrice" class="control-label">{{ @root.__ "Course price" }} *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">{{currencySymbol config.currencySymbol}}</label>
                    </div>
                    <input type="number" id="productPrice" class="form-control" step="any" value="{{productPrice}}" required/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="productPublished" class="control-label">{{ @root.__ "Status" }}</label>
                <select class="form-control" id="productPublished">
                    <option value="true" selected>{{ @root.__ "Paid" }}</option>
                    <option value="false">{{ @root.__ "Unpaid" }}</option>
                </select>
            </div>
        </div>
         <div class="col-sm-6">
            <div class="form-group">
                <label for="productTiming" class="control-label">{{ @root.__ "Timing" }}</label>
                <select class="form-control" id="productTiming">
                    <option value="true" selected>{{ @root.__ "Morning" }}</option>
                    <option value="false">{{ @root.__ "Evening" }}</option>
                </select>
            </div>
        </div>
      